@charset "utf-8";

body{
    background-color: rgb(154, 216, 154);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: green;

}

h1#principal{
    text-align: center;
    background-color: green;
    color: white;
    border-radius: 5px;
    width: 600px;
    margin: auto;
    box-shadow: 5px 5px 15px black;
}

h2{
    color: rgb(7, 78, 7);
}

h2.basico{
    text-align: center;
    background-color: rgb(128, 30, 0);
    color: white;
    border-radius: 5px;
    width: 600px;
    box-shadow: 5px 5px 15px black;

}
.inter{
    text-align: center;
    background-color: rgb(164, 175, 6);
    color: white;
    border-radius: 5px;
    width: 600px;
    box-shadow: 5px 5px 15px black;
}
.avancado{
    text-align: center;
    background-color: rgb(12, 182, 168);
    color: white;
    border-radius: 5px;
    width: 600px;
    box-shadow: 5px 5px 15px black;
}